{% extends "station/details.html" %}
{% block content %}
<div class="container mt-5 mb-5">
<div class="row">
    {% for station in stations %}
    <div class="col-md-6 mb-4">
        <div class="card h-100 border border-dark rounded-4 border-0 shadow-lg
        " style="width: 18rem;">
            <img src="{{ station.station_image.url }}" class="card-img-top" alt="Station Image">
            <div class="card-body">
                <h5 class="card-title">{{ station.station_name }}</h5>
                <p class="card-text">
                    Phone: {{ station.station_phone }}<br>
                    Address: {{ station.station_address }}<br>
                    Email: {{ station.station_email }}<br>
                    Caption: {{ station.station_caption }}<br>
                    Area: {{ station.station_area }}
                </p>
                <a href="{% url 'edit_station' station.station_ID %}" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
                <a href="{% url 'delete_station' station.station_ID %}" class="btn btn-danger" onclick="return confirm('Are you sure want to delete?')"><i class="fa fa-trash"></i> Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</div>
{% endblock %}
