{% extends "users/viewpage.html" %}
{% load static %}

{% block content %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show" style="position: fixed;z-index: 90;right:100px;top:10px"
    role="alert">
    <strong>{{message}} !!!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<div class="container mt-5">
    <h2>Station Profiles</h2>
    <div class="row">
      {% for profile in station_profiles %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ profile.Profile_Image.url }}" class="card-img-top" alt="{{ profile.user.username }}" height="200"  >
          <div class="card-body">
            <h5 class="card-title">{{ profile.user.username }}</h5>
            <p class="card-text"><strong>Address:</strong> {{ profile.Address }}</p>
            <p class="card-text"><strong>Phone Number:</strong> {{ profile.Phone_Number }}</p>
           
            <!-- Add other profile fields as needed -->

            <p class="my-3 font-weight-bold">Send Message to station</p>
            <form action="{% url 'send_message'  profile.user.id %}" class="d-flex align-items-center" method="post">
                {% csrf_token %}
                <input type="text" class="w-75 border-secondary mr-2 p-2" name="message" placeholder="Enter message here..">
                <button class="btn btn-primary">Send</button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}