{% extends "users/viewpage.html" %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <div class="row">
      <div class="col-lg my-2 d-flex align-items-center">
        {% if station.station_image %}
          <img src="{{ station.station_image.url }}" class="img-fluid" alt="Turf Image" style="max-height: 300px; width: 50%;">
        {% endif %}
        <div class="text-center ml-5">
          <p style="color: darkgreen; font-family: 'Edu TAS Beginner', cursive; font-size: 2rem; text-transform: capitalize;">{{station.station_name}}</p>
          <h5> {{ station.station_caption }}</h5>
          <p>Slots: {{ station.slots }}</p>
          <p>Price: ₹{{ station.station_price }}</p>
          <p>Address: {{ station.station_address }}</p>
          <p>Phone No: {{ station.station_phone }}</p>
          <p>Email: {{ station.station_email }}</p>
          <p>Area: {{ station.station_area }}</p>
          <a href="{%url 'station_profile' %}" class="btn btn-success mt-4">Enquire Now</a>
          <a href="{% url 'book_slot' station.station_ID %}" class="btn btn-primary mt-4">Book Now</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}
